* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #525252; }

*:-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #525252; }

*::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #525252; }

*:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #525252; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000000; }

body input:required:valid,
body textarea:required:valid {
  color: #505050; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  outline: none;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

a[href^="tel"] {
  color: inherit;
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

option {
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #525252; }

body {
  font-size: 16px;
  position: relative;
  line-height: normal;
  background: #FAFAFA;
  overflow-x: hidden; }

img {
  display: block;
  width: 100%;
  height: 100%; }

input, textarea {
  outline: none;
  border: 1px solid #F0F0F0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #525252;
  width: 100%;
  resize: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent; }

button[type="button"] {
  outline: none; }

.title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 24px;
  color: #525252; }

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 25px rgba(191, 191, 191, 0.25);
          box-shadow: 0px 10px 25px rgba(191, 191, 191, 0.25);
  border-radius: 10px;
  padding: 11px 28px 11px 34px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px 0 0 0; }
  .breadcrumb-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: #336B98;
    position: relative;
    padding-right: 25px;
    margin-right: 18px; }
    .breadcrumb-link:before {
      content: "/";
      position: absolute;
      right: 0;
      top: 50%;
      color: #E6E6E6;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .breadcrumb-list:last-child .breadcrumb-link {
    color: #525252;
    cursor: text;
    padding: 0;
    margin: 0; }
    .breadcrumb-list:last-child .breadcrumb-link:before {
      content: none; }

.circle {
  position: relative;
  padding-left: 16px;
  display: block; }
  .circle:before {
    content: '';
    position: absolute;
    left: 0;
    top: 11px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: block; }
  .circle-blue:before {
    background: #79ACD7; }
  .circle-green:before {
    background: #56B37B; }

.circle-mob:before {
  content: none; }

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#5BBD83), to(#4EA471));
  background: linear-gradient(180deg, #5BBD83 0%, #4EA471 100%);
  -webkit-box-shadow: 0px 0px 20px rgba(67, 182, 113, 0.4);
          box-shadow: 0px 0px 20px rgba(67, 182, 113, 0.4);
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
  color: #FFFFFF;
  padding: 0 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 41px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none; }
  .btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#5BBD83));
    background: linear-gradient(#5BBD83);
    color: #FFFFFF; }
  .btn:focus, .btn.active {
    background: -webkit-gradient(linear, left top, left bottom, from(#4EA471));
    background: linear-gradient(#4EA471);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .btn-add_img {
    width: 22px;
    height: 22px;
    margin-right: 10px; }
  .btn-gray {
    border: none;
    line-height: 50px;
    background: #7D7D7D;
    border-radius: 50px;
    padding: 0 41px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .btn-gray-text {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      color: #FFFFFF; }
    .btn-gray:hover {
      background: #8A8A8A; }
    .btn-gray:focus, .btn-gray.active, .btn-gray:active {
      background: #737373;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .btn-gray-camera {
      width: 27px;
      height: 27px;
      -o-object-fit: contain;
         object-fit: contain;
      margin-right: 23px; }
    .btn-gray-arrow {
      width: 16px;
      height: auto;
      -o-object-fit: contain;
         object-fit: contain;
      display: none;
      margin-left: 23px; }
    .btn-gray-detail {
      display: none;
      width: 27px;
      height: 23px;
      margin-right: 23px; }

.btn-gray-tech {
  display: none; }

.information {
  position: relative;
  margin-left: 5px; }
  .information:hover .tooltip-container {
    opacity: 1;
    pointer-events: auto; }

.tooltip-img {
  width: 16px;
  height: 16px; }

.tooltip-container {
  position: absolute;
  bottom: 100%;
  right: 7px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 15px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.tooltip-white {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(191, 191, 191, 0.25);
          box-shadow: 0px 0px 25px rgba(191, 191, 191, 0.25);
  position: relative;
  border-radius: 10px 10px 0 10px;
  padding: 17px 30px; }
  .tooltip-white:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    border-bottom: 15px solid transparent;
    border-right: 20px solid #ffffff; }

.tooltip-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #525252; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow-y: auto;
  padding: 20px;
  -webkit-overflow-scrolling: touch; }
  .popup.active {
    opacity: 1;
    pointer-events: auto; }
  .popup.top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .popup .form {
    max-width: 1005px;
    width: 100%; }
    .popup .form-header {
      padding: 10px 60px; }
  .popup-select {
    position: relative; }
    .popup-select:before {
      content: '';
      position: absolute;
      right: 15px;
      top: 0;
      background: url("../img/arrow-down.svg") no-repeat right center/contain;
      z-index: 1;
      width: 13px;
      height: 100%;
      pointer-events: none;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .popup-select.active:before {
      -webkit-transform: scale(1, -1);
              transform: scale(1, -1); }
    .popup-select select {
      border: 1px solid #F0F0F0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 0 10px 10px 0;
      border-left: none;
      padding: 15px;
      width: 88px;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      outline: none;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      color: #525252; }
  .popup .btn {
    margin: 30px 0 0 0;
    line-height: 60px; }
  .popup-status {
    position: relative; }
    .popup-status .popup-select:before {
      right: 5px; }
    .popup-status:before {
      content: '';
      position: absolute;
      left: 18px;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      background: #56B37B;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      z-index: 1;
      pointer-events: none; }
    .popup-status select {
      width: 100%;
      border: 1px solid #F0F0F0;
      border-radius: 10px;
      padding-left: 38px; }
  .popup-change-data .form-icon-user {
    margin-right: 18px; }
  .popup-change-part .form {
    max-width: 804px; }
  .popup-choose-parts .form-header {
    padding: 10px 0; }
  .popup-choose-parts .form-title, .popup-choose-parts td {
    padding: 20px 30px; }
    .popup-choose-parts .form-title:first-child, .popup-choose-parts td:first-child {
      width: 250px; }
    .popup-choose-parts .form-title:nth-child(2), .popup-choose-parts td:nth-child(2) {
      width: 130px;
      text-align: center;
      padding: 20px 10px; }
    .popup-choose-parts .form-title:last-child, .popup-choose-parts td:last-child {
      width: 120px; }
  .popup-choose-parts .form {
    max-width: 100%; }
  .popup-container {
    max-width: 620px;
    width: 100%;
    padding: 50px 60px;
    background: #FDFDFD;
    -webkit-box-shadow: 0px 10px 25px rgba(191, 191, 191, 0.25);
            box-shadow: 0px 10px 25px rgba(191, 191, 191, 0.25);
    border-radius: 15px; }
  .popup-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 24px;
    color: #525252; }

.close {
  position: relative;
  width: 28px;
  height: 28px;
  outline: none;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .close:before, .close:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    width: 22px;
    height: 3px;
    background: #ffffff; }
  .close:after {
    width: 3px;
    height: 22px; }
  .close-black {
    width: 49px;
    height: 17px; }
    .close-black:before, .close-black:after {
      background: #525252; }
  .close-window {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px; }
    .close-window .close-black:before, .close-window .close-black:after {
      background: #7D7D7D; }
    .close-window-text {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #737373; }

.form-left {
  width: calc(100% - 360px - 40px);
  margin-right: 40px; }

.form-right {
  width: 360px; }

.form-icon-detail {
  width: 20px;
  height: 19px;
  margin-right: 21px; }

.form-icon-add {
  width: 22px;
  height: 22px;
  margin-right: 18px;
  -o-object-fit: contain;
     object-fit: contain; }

.form-container {
  padding: 43px 60px 50px; }

.form-field {
  margin-bottom: 20px; }
  .form-field-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .form-field-row .form-input {
      border-radius: 10px 0 0 10px;
      width: calc(100% - 88px); }

.form-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #525252;
  margin-bottom: 11px; }

.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #F0F0F0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px; }
  .count-item {
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    .count-item:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background: #F0F0F0;
      width: 12px;
      height: 2px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .count-item:hover:before, .count-item:hover:after {
      background: #93C3EC; }
  .count-input {
    width: calc(100% - 100px);
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    padding: 15px 10px;
    text-align: center; }
  .count-plus:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #F0F0F0;
    width: 2px;
    height: 12px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

#your-files {
  display: none; }

.load {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .load .form-input {
    width: calc(100% - 168px);
    border-radius: 10px 0 0 10px;
    border-right: none; }
  .load-btn {
    background: -webkit-gradient(linear, left top, left bottom, from(#93C3EC), to(#8AADCB));
    background: linear-gradient(180deg, #93C3EC 0%, #8AADCB 100%);
    border-radius: 0 10px 10px 0;
    padding: 15px 33px;
    line-height: 28px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 168px; }
  .load-img {
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 15px; }

.page-item:first-child .page-link, .page-item:last-child .page-link {
  background: -webkit-gradient(linear, left top, left bottom, from(#93C3EC), to(#8AADCB));
  background: linear-gradient(180deg, #93C3EC 0%, #8AADCB 100%);
  border-right: none;
  margin: 0; }
  .page-item:first-child .page-link:hover, .page-item:last-child .page-link:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#93C3EC));
    background: linear-gradient(#93C3EC); }

.page-item:nth-last-child(2) .page-link {
  border-right: none;
  margin: 0; }

.page-img {
  width: 18px;
  height: 18px;
  -o-object-fit: contain;
     object-fit: contain; }

.page-link {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  line-height: 60px;
  min-width: 70px;
  height: 100%;
  border-right: 1px solid #F0F0F0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #525252;
  margin: 0 1px 0 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .page-link:hover, .page-link.active, .page-link:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #79ACD7;
    background: #ffffff;
    border-color: #F0F0F0;
    font-weight: 500; }

.pagination {
  margin: 40px 0 20px;
  -webkit-box-shadow: 0px 10px 25px rgba(191, 191, 191, 0.25);
          box-shadow: 0px 10px 25px rgba(191, 191, 191, 0.25);
  border-radius: 10px;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none; }

.proposed {
  padding-top: 52px; }
  .proposed .title {
    margin-bottom: 66px; }
  .proposed .form-table td {
    width: 45%;
    font-weight: normal; }
    .proposed .form-table td:last-child {
      font-weight: 300;
      width: 55%; }

.form {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 25px rgba(191, 191, 191, 0.25);
          box-shadow: 0px 10px 25px rgba(191, 191, 191, 0.25);
  border-radius: 15px; }
  .form-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .form-flex .form-field {
      width: calc(50% - 20px);
      margin-right: 40px; }
      .form-flex .form-field:nth-child(2n+2) {
        margin-right: 0; }
  .form-arrow {
    display: none;
    -webkit-transform: scale(1, -1);
            transform: scale(1, -1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 26px;
    height: 26px;
    -o-object-fit: contain;
       object-fit: contain; }
    .form-arrow.active {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1); }
  .form-car {
    position: relative; }
    .form-car .form-table td:last-child {
      padding: 20px 15px 20px 11px; }
  .form-header {
    background: -webkit-gradient(linear, left top, left bottom, from(#93C3EC), to(#8AADCB)), -webkit-gradient(linear, left top, left bottom, from(#82B9E8), to(#74A5CE));
    background: linear-gradient(180deg, #93C3EC 0%, #8AADCB 100%), linear-gradient(180deg, #82B9E8 0%, #74A5CE 100%);
    -webkit-box-shadow: 0px 4px 20px rgba(178, 205, 227, 0.6);
            box-shadow: 0px 4px 20px rgba(178, 205, 227, 0.6);
    border-radius: 15px 15px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 81px;
    padding: 10px 25px 10px 27px; }
  .form-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .form-icon-user {
    width: 17px;
    height: 21px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 12px; }
  .form-icon-edit {
    width: 17px;
    height: 18px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 10px; }
  .form-icon-car {
    width: 34px;
    height: 16px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 20px; }
  .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .form-row-date {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .form-row-date .form-field {
        margin-right: 10px; }
        .form-row-date .form-field:last-child {
          margin-right: 0; }
        .form-row-date .form-field:first-child, .form-row-date .form-field:last-child {
          max-width: 223px;
          width: 100%; }
        .form-row-date .form-field:nth-child(2) {
          max-width: 160px;
          width: 100%; }
  .form-table {
    width: 100%; }
    .form-table td {
      min-height: 69px;
      padding: 20px 20px 20px 27px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
      color: #525252; }
      .form-table td:first-letter {
        text-transform: uppercase; }
  .form-pb td {
    padding-bottom: 33px; }
  .form-customer {
    max-width: 517px;
    width: 100%; }
  .form-spares {
    margin-top: 33px; }
    .form-spares .form-title:first-child, .form-spares td:first-child {
      width: 160px;
      padding: 20px 0 20px 36px; }
    .form-spares .form-title:nth-child(2), .form-spares td:nth-child(2) {
      width: 250px;
      padding: 20px 0 20px 30px; }
    .form-spares .form-title:nth-child(3), .form-spares .form-title:nth-child(4), .form-spares .form-title:nth-child(5), .form-spares td:nth-child(3), .form-spares td:nth-child(4), .form-spares td:nth-child(5) {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 91px;
      padding: 20px 13px; }
    .form-spares .form-title:nth-child(4), .form-spares td:nth-child(4) {
      padding: 20px 18px;
      text-align: center; }
    .form-spares .form-title:nth-child(5), .form-spares td:nth-child(5) {
      text-align: center;
      padding: 20px 23px; }
    .form-spares .form-title:nth-child(6), .form-spares td:nth-child(6) {
      width: 135px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .form-spares .form-title:nth-child(7), .form-spares .form-title:nth-child(8), .form-spares td:nth-child(7), .form-spares td:nth-child(8) {
      width: 161px;
      padding: 20px 30px; }
    .form-spares .form-title:nth-child(8), .form-spares td:nth-child(8) {
      padding: 6px 0 10px 22px; }
    .form-spares .form-header {
      padding: 10px 0; }
    .form-spares .form-table td {
      vertical-align: top; }
  .form-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .form-actions-files {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .form-actions-svg {
      margin-right: 15px;
      cursor: pointer; }
      .form-actions-svg path {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .form-actions-svg:hover path {
        fill: #48769C; }
    .form-actions-item {
      padding: 5px 20px 5px 5px;
      cursor: pointer;
      position: relative; }
      .form-actions-item.active .form-actions-circle {
        background: #79ACD7; }
      .form-actions-item.active .form-action {
        opacity: 1;
        pointer-events: auto; }
    .form-actions-circle {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      border-radius: 50%;
      background: #C4C4C4;
      width: 5px;
      height: 5px;
      margin: 7px 0; }
  .form-lock {
    width: 23px;
    height: 23px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0 0 10px; }
  .form-action {
    z-index: 1;
    padding-top: 25px;
    position: absolute;
    right: 20px;
    top: 75%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    min-width: 323px; }
    .form-action-conteiner {
      padding: 30px 30px 9px 30px;
      background: -webkit-gradient(linear, left top, left bottom, from(#93C3EC), to(#8AADCB));
      background: linear-gradient(180deg, #93C3EC 0%, #8AADCB 100%);
      -webkit-box-shadow: 0px 0px 25px rgba(191, 191, 191, 0.25);
              box-shadow: 0px 0px 25px rgba(191, 191, 191, 0.25);
      position: relative;
      border-radius: 10px 0 10px 10px; }
      .form-action-conteiner:before {
        content: '';
        position: absolute;
        top: -19px;
        right: 0;
        background: url("../img/rectangle.png") no-repeat center/contain;
        height: 30px;
        width: 25px;
        z-index: -1; }
    .form-action-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 21px; }
      .form-action-list:hover .form-action-text {
        font-weight: bold; }
    .form-action-icon {
      width: 16px;
      height: auto;
      margin-right: 17px; }
    .form-action-text {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .form-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #B6B6B6;
    white-space: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .form-span {
    color: #525252;
    margin-left: 6px; }
  .form-nickname {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .form-nickname:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 1px;
      width: 100%;
      background: #D1E1EE; }
  .form-li .form-lock {
    margin: 0 0 0 6px; }

td {
  border-right: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  width: auto;
  font-weight: 300; }
  td:last-child {
    border-right: none; }

tr:last-child td {
  border-bottom: none; }

.spares {
  padding-top: 56px;
  padding-bottom: 30px; }

.tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 160px;
  top: -50px;
  height: 50px;
  width: 148px;
  cursor: pointer; }
  .tech:hover .tech-row {
    padding: 0 22px; }
    .tech:hover .tech-row:last-child {
      left: calc(100% + 21px); }
      .tech:hover .tech-row:last-child .tech-text {
        opacity: 1; }
  .tech-row {
    position: absolute;
    left: 0;
    width: auto;
    bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 0 22px;
    height: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 15px 0 0 0;
    background: #7D7D7D;
    z-index: 2; }
    .tech-row:last-child {
      border-radius: 0 15px 0 0;
      z-index: 1;
      left: 14px;
      padding: 0 22px;
      border-left: 1px solid #8F8F8F; }
      .tech-row:last-child .tech-text {
        opacity: 0; }
  .tech-img {
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 11px; }
  .tech-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    white-space: nowrap; }
  .tech-arrow {
    width: 14px;
    height: 14px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 11px; }

/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1199px) {
  .hide {
    display: none; }
  .form-spares .form-title {
    white-space: nowrap; }
  .form-spares .form-title, .form-spares td {
    padding: 20px 19px !important; }
    .form-spares .form-title:nth-child(2), .form-spares td:nth-child(2) {
      width: 30%; }
    .form-spares .form-title:nth-child(3), .form-spares td:nth-child(3) {
      width: 22%; }
    .form-spares .form-title:nth-child(4), .form-spares td:nth-child(4) {
      width: 13%; }
    .form-spares .form-title:last-child, .form-spares td:last-child {
      width: 35%;
      padding: 16px 0 16px 15px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .form-actions-item {
    padding: 0 15px 0 5px; }
  .form-actions-circle {
    margin: 4px 0; }
  .tech {
    left: 50px; }
  .circle-mob:before {
    content: ''; } }

@media only screen and (max-width: 991px) {
  .form-customer {
    max-width: 100%;
    margin-bottom: 50px; }
  .proposed .form-header {
    padding: 10px 50px 10px 24px; }
  .tech {
    display: none; }
  .btn-gray-tech, .btn-gray-detail, .btn-gray-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .btn-gray {
    margin-bottom: 20px; }
    .btn-gray:last-child {
      margin-bottom: 40px; }
  .form-actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .form-actions-files {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 12px; }
  .form-actions-svg {
    background: -webkit-gradient(linear, left top, left bottom, from(#93C3EC), to(#8AADCB));
    background: linear-gradient(180deg, #93C3EC 0%, #8AADCB 100%);
    border-radius: 7px;
    width: 41px;
    height: 41px;
    padding: 10px 9px;
    margin: 0 4px; }
    .form-actions-svg path {
      fill: #ffffff;
      stroke: #ffffff; }
  .form-actions-svg:hover path {
    fill: #ffffff;
    stroke: #ffffff; }
  .form-actions-item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 15px; }
  .form-actions-circle {
    width: 6px;
    height: 6px;
    margin: 0 3.5px; }
  .form-spares .form-title:last-child, .form-spares td:last-child {
    padding: 20px 15px;
    vertical-align: middle; }
  .form-action {
    right: 50%; }
  .btn-gray {
    line-height: 60px; }
  .form-container .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .form-left {
    width: 100%;
    margin: 0; }
  .form-right {
    width: 100%; }
  .form-table td {
    padding: 20px; } }

@media only screen and (max-width: 767px) {
  .form-container {
    padding: 40px 20px; }
  .form-left .col-6 {
    padding: 0 5px; }
  .form-flex .form-field {
    width: calc(50% - 10px);
    margin-right: 20px; }
  .close-window {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .popup {
    padding: 0; }
    .popup .form-header {
      border-radius: 0;
      padding: 10px 50px 10px 23px; }
    .popup textarea {
      max-height: 150px; }
    .popup .form {
      border-radius: 0; }
  .form-spares .form-title:last-child, .form-spares td:last-child {
    padding: 20px 0 !important; }
  .close:before {
    width: 27px;
    height: 3px; }
  .close:after {
    height: 27px;
    width: 3px; }
  .form-row-date {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .form-row-date .form-field, .form-row-date .form-field:first-child, .form-row-date .form-field:last-child, .form-row-date .form-field:nth-child(2) {
      width: calc(50% - 5px);
      max-width: 100%; }
      .form-row-date .form-field:nth-child(2n+2), .form-row-date .form-field:first-child:nth-child(2n+2), .form-row-date .form-field:last-child:nth-child(2n+2), .form-row-date .form-field:nth-child(2):nth-child(2n+2) {
        margin-right: 0; }
  .popup .form {
    min-height: 100vh; }
  .popup-container {
    max-width: 100%;
    border-radius: 0;
    min-height: 100vh; }
    .popup-container .form {
      min-height: auto;
      border-radius: 10px; }
    .popup-container .form-header {
      border-radius: 10px 10px 0 0; }
    .popup-container .d-flex .close-black {
      display: none; }
  .proposed .form-table td {
    width: 50%; }
  .proposed .form-table td:last-child {
    width: 50%;
    padding: 20px 20px 20px 10px; } }

@media only screen and (max-width: 575px) {
  .btn-edit, .breadcrumb {
    display: none; }
  .proposed .form-header {
    border-radius: 0; }
  .form-drop {
    display: none; }
  .form-arrow {
    display: block; }
  .wrap {
    overflow: hidden; }
  .wrap-container {
    padding: 0; }
  .title {
    padding: 0 20px; }
  .form {
    border-radius: 0; }
  .proposed .title {
    margin-bottom: 33px; }
  .form-header {
    border-radius: 0; }
  .form-spares {
    margin-top: 38px; }
  .btn {
    margin: 33px auto; }
  .popup-container {
    padding: 40px 20px; }
  .pagination {
    margin: 30px 0 0 0; } }
